.outer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url(./images/15665837_941803995952835_4178700964159351298_n.jpg);
    background-size: cover;
  }

  /* .blur{
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  } */